.header1{
    background-color: #2587be;
    height: 160px;
}

.container{
   /* width: 1000px; */
   justify-content:space-around;

}
.row{
    display:flex;
}
.header1 .row{
    display:flex;
   padding-top: 40px;
   padding-left: 50px;
   padding-right: 50px;
}
#justify-center{
    justify-content: center;
}
.directors .row{
    width: 1000px;
}
.wrap-wrap{
    flex-wrap: wrap;
}
.directors{
    margin:20px;
    padding-left: 200px;
}
.info{
    background-color: #2587be;
    min-height: 500px;

}
.info .row{
    width: 1150px;
    margin: 50px;
    padding-top: 110px;
    padding-left: 200px;
}
.col-4{
    width:33.33333%;
    border: solid 10px black;
   min-height:80px;
}
.col-6{
    width:50%;
    border: solid 10px black;
    min-height:250px;
}
.col-3{
    width:25%;
    border: solid 10px black;
    min-height:150px;
}
h2{
    margin: 10px;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}
p{
    line-height: 30px;
    text-indent: 10%;
    max-width: 75%;
    margin: 10px;
    padding-left: 250px;
}
h4{
    font-size:20px;
    color: rgb(107, 5, 5);
    padding-left: 10%;
    line-height: 30px;
}
ul{
    line-height: 40px;
    font-size: 15px;
    padding-left: 300px;
    margin: 30px;
    border: 20px;
}
